<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Baranowart</title>
</head>

<body>
    <header class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <a class="navbar-brand text-white fw-semibold fs-5 d-none d-lg-block" href="#"
                aria-label="Логотип галереи">Logo</a>

            <a class="mobile-logo d-lg-none fs-5 fw-semibold" href="#" aria-label="Логотип галереи">Logo</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-expanded="false" aria-label="Переключить навигацию">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="d-flex d-lg-none align-items-center mobile-icons">
                <a href="#" aria-label="Профиль"><i class="bi bi-person fs-5"></i></a>
                <div class="nav-item dropdown mobile-language-dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="mobileLanguageDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="flag-icon flag-icon-ru" id="mobile-current-flag"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="mobileLanguageDropdown">
                        <li>
                            <a class="dropdown-item language-option fs-6" href="#" data-flag="ru" data-lang="Русский">
                                <span class="flag-icon flag-icon-ru"></span> Русский
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item language-option fs-6" href="#" data-flag="us" data-lang="English">
                                <span class="flag-icon flag-icon-us"></span> English
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item language-option fs-6" href="#" data-flag="de" data-lang="Deutsch">
                                <span class="flag-icon flag-icon-de"></span> Deutsch
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <nav class="collapse navbar-collapse" id="navbarContent">
                <div class="mobile-header d-lg-none">
                    <button class="btn-close btn-close-white" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarContent" aria-label="Закрыть"></button>
                </div>

                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link fs-6" href="#">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-6" href="#">О нас</a>
                    </li>

                    <li class="nav-item dropdown position-relative d-lg-block d-none">
                        <a class="nav-link dropdown-toggle fs-6" href="#" id="paintingsDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Картины
                        </a>
                        <div class="dropdown-menu dropdown-menu-paintings" aria-labelledby="paintingsDropdown">
                            <div class="d-flex flex-column flex-lg-row">
                                <div class="dropdown-menu-column">
                                    <span class="dropdown-menu-title fs-6">Стиль</span>
                                    <a href="#" class="dropdown-menu-item fs-6">Абстрактный</a>
                                    <a href="#" class="dropdown-menu-item fs-6">Восточное искусство</a>
                                    <a href="#" class="dropdown-menu-item fs-6">Геометрическое искусство</a>
                                    <a href="#" class="dropdown-menu-item fs-6">Духовное искусство</a>
                                    <a href="#" class="dropdown-menu-item fs-6">Образный</a>
                                    <a href="#" class="dropdown-menu-all fs-6">Все стили</a>
                                </div>
                                <div class="dropdown-menu-column">
                                    <span class="dropdown-menu-title fs-6">Техника</span>
                                    <a href="#" class="dropdown-menu-item fs-6">Акрил</a>
                                    <a href="#" class="dropdown-menu-item fs-6">Акварель</a>
                                    <a href="#" class="dropdown-menu-item fs-6">Масло</a>
                                    <a href="#" class="dropdown-menu-item fs-6">Пастель</a>
                                    <a href="#" class="dropdown-menu-item fs-6">Гуашь</a>
                                    <a href="#" class="dropdown-menu-all fs-6">Все техники</a>
                                </div>
                                <div class="dropdown-menu-column">
                                    <span class="dropdown-menu-title fs-6">Тема</span>
                                    <a href="#" class="dropdown-menu-item fs-6">Абстрактный</a>
                                    <a href="#" class="dropdown-menu-item fs-6">Геометрический</a>
                                    <a href="#" class="dropdown-menu-item fs-6">Граффити</a>
                                    <a href="#" class="dropdown-menu-item fs-6">Красочный</a>
                                    <a href="#" class="dropdown-menu-item fs-6">Машина</a>
                                    <a href="#" class="dropdown-menu-all fs-6">Все темы</a>
                                </div>
                                <div class="dropdown-menu-column">
                                    <span class="dropdown-menu-title fs-6">Размер</span>
                                    <a href="#" class="dropdown-menu-item fs-6">Маленький</a>
                                    <a href="#" class="dropdown-menu-item fs-6">Средний</a>
                                    <a href="#" class="dropdown-menu-item fs-6">Большой</a>
                                    <a href="#" class="dropdown-menu-item fs-6">Очень большой</a>
                                </div>
                                <div class="dropdown-menu-column">
                                    <span class="dropdown-menu-title fs-6">Стоимость (€)</span>
                                    <a href="#" class="dropdown-menu-item fs-6">менее 100</a>
                                    <a href="#" class="dropdown-menu-item fs-6">1000 - 10000</a>
                                    <a href="#" class="dropdown-menu-item fs-6">10000 - 50000</a>
                                    <a href="#" class="dropdown-menu-item fs-6">50000 - 100000</a>
                                    <a href="#" class="dropdown-menu-item fs-6">более чем 100000</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item d-lg-none">
                        <a class="nav-link fs-6" href="#">Картины</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link fs-6" href="#">Художники</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-6" href="#">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-6" href="#">Новости</a>
                    </li>

                    <li class="nav-item dropdown d-none d-lg-block">
                        <a class="nav-link dropdown-toggle d-flex align-items-center fs-6" href="#"
                            id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="flag-icon flag-icon-ru" id="current-flag"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                            <li>
                                <a class="dropdown-item language-option fs-6" href="#" data-flag="ru"
                                    data-lang="Русский">
                                    <span class="flag-icon flag-icon-ru"></span> Русский
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item language-option fs-6" href="#" data-flag="us"
                                    data-lang="English">
                                    <span class="flag-icon flag-icon-us"></span> English
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item language-option fs-6" href="#" data-flag="de"
                                    data-lang="Deutsch">
                                    <span class="flag-icon flag-icon-de"></span> Deutsch
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown d-none d-lg-block">
                        <a class="nav-link dropdown-toggle fs-6" href="#" id="currencyDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span id="current-currency">EUR (€)</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="currencyDropdown">
                            <li><a class="dropdown-item currency-option fs-6" href="#" data-currency="USD ($)">USD
                                    ($)</a>
                            </li>
                            <li><a class="dropdown-item currency-option active fs-6" href="#"
                                    data-currency="EUR (€)">EUR
                                    (€)</a></li>
                            <li><a class="dropdown-item currency-option fs-6" href="#" data-currency="RUB (₽)">RUB
                                    (₽)</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="icon-wrapper d-none d-lg-flex">
                    <a href="#" aria-label="Профиль"><i class="bi bi-person fs-5"></i></a>
                    <a href="#" aria-label="Поиск"><i class="bi bi-search fs-5"></i></a>
                    <a href="#" aria-label="Избранное"><i class="bi bi-heart fs-5"></i></a>
                    <a href="#" aria-label="Корзина"><i class="bi bi-cart fs-5"></i></a>
                </div>
            </nav>
        </div>
    </header>

    <nav class="mobile-bottom-nav d-lg-none">
        <a href="#" class="mobile-bottom-nav-item active">
            <i class="bi bi-list fs-5"></i>
            <span class="fs-6">Каталог</span>
        </a>
        <a href="#" class="mobile-bottom-nav-item">
            <i class="bi bi-heart fs-5"></i>
            <span class="fs-6">Избранное</span>
        </a>
        <a href="#" class="mobile-bottom-nav-item">
            <i class="bi bi-cart fs-5"></i>
            <span class="fs-6">Корзина</span>
        </a>
    </nav>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="app.js" defer></script>

</html>